body { 
      color: #666666;
	  font-family: Arial, Helvetica, sans-serif; 
}
header {  background-color: #000033;
    background-image: url(../images/sunset.jpg);
    background-repeat: no-repeat;
    background-position: right;
    text-align: left;
    height: 60px;
    padding-top: 15px;
    color: #FFFFFF;
}
nav {
    font-weight: bold;
    font-family: Georgia, Serif;
    float: left;
    width: 180px;
    padding: 15px;
}
.bold{
	font-weight: bold;
}
nav a {
    text-decoration: none;
}
nav ul { list-style-type: none;
       margin: 0;
	   padding-left: 0;
	   font-size: 1.2em;
}
h1 {
    padding-left: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 200%;
    font-family: Georgia, Serif;

}
h2 {
    font-family: Georgia, Serif;
    color: #3399CC;
}
dt {
    color: #000033;
    padding: 10px;
}
nav ul { list-style-type: none;
       margin: 0;
	   padding-left: 0;
	   font-size: 1.2em;
}

main { padding: 1px 20px 20px 30px; 
      display: block;
	  background-color: #FFFFFF;
	  margin-left: 190px;
}

dt { color: #000033; 
}
footer {
    font-size: .70em;
    padding: 20px;
    margin-left: 190px;
    background-color: #FFFFFF;
    font-style: italic;
    text-align: center;
    font-family: Arial;
}

.table1 td, th
{
	
	border-top: solid 1px #3399CC !important;
	border-bottom: solid 1px #3399CC !important;
	border-left: solid 1px #3399CC !important;
	border-right: solid 1px #3399CC !important;
	border-collapse:collapse;	
}
.table1 tbody 
{
	border: solid 1px #3399CC !important;	
	width:90%;

}
.table1 td
{   
	text-align:center;
	padding: 8px;
}
.table1 th
{   
	text-align:center;
	padding: 8px;
	
}
.table1 tr:nth-child(even){
	background-color: #f4f9fc !important;
}

.formtable1
{
	border:none;
	table-layout: fixed;
	width: 100%;
}


.formtable1 td,th{
	clear: both;
	padding-left: 10px;
	padding-bottom: 20px;
	padding-top: 0px;
	padding-right: 10px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	text-align: left;

	
}

.formtable1 td#lefttd
{
	
	width: 150px !important;

}

.boldtext{
	font-weight:bold;

}
p#msg
{
	color:red !important;
	font-size:10px !important;
}
span#msg
{
	color:red !important;
	font-size:10px !important;
}








#text {
    text-align: left;
}
tr:nth-of-type(odd) {
    background-color: #F5FAFC;
}
#number {
    text-align: center;
}
#wrapper {
    font-family: Verdana, Arial;
    color: #666666;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #90C7E3;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px 3px #333333;

}

.resort { color: #5C7FA3; 
          font-weight: bold;
}	
}   
address { font-size: 90%; }

#homeimg {
    height: 300px;
    background-image: url(../images/coast.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 190px;
}
#yurtsimg {
    height: 300px;
    background-image: url(../images/yurt.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 190px;
}

#activitiesimg {
    height: 300px;
    background-image: url(../images/trail.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 190px;
}

#trailguideimage{
	background-image: url(../images/trailguide.jpg);
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
#yurtimage{
	
}
.fright{
	padding: 1px 20px 20px 20px;
          background-color: #FFFFFF;
          margin-left: 110px;
          padding-left: 30px;
}
.fith{
	height:fit-content;
}
.fleft{
	float: left;
}
select{
	padding:5px;
	background-color: buttonface;
}

.formtable1
{
	border: hidden;
	table-layout: fixed;
	width: 100%;
}

.formtable td#lefttd
{
	
	width: 150px !important;

}

.table1
{
	margin-left: auto;
	margin-right: auto;
	border:solid 1px #3399CC;
	width:90%;
	border-spacing:0;
}

@media only screen and (max-width: 64em){
    body{
        margin: 0;
        background-color: #FFFFFF;
    }
    #wrapper{
        min-width: 0;
        width: auto;
        box-shadow: none;
    }
    main{
        margin-left: 0;
    }
    nav{
        float: none;
        width: 200px;
        text-align: center;
        padding: 15px;
    }
    nav li{
        display: inline;
        padding-bottom: 0.25em;
        padding-top: 0.25em;
        padding-left: 0.75em;
        padding-right: 0.75em;
    }
    #indeximage{
        margin: 0;
        height: 200px;
    }
    #yurtsimage{
        margin: 0;
        height: 200px;
    }
    #activitiesimage{
        margin: 0;
        height: 200px;
    }
    footer{
        margin: 0;
    }
}

@media only screen and (max-width: 37.5em){
    #header{
        padding-top:1em;
    }
    main{
        padding-bottom: 0.1em;
        padding-top: 0.1em;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 90%;
    }
    h1{
        font-size:1.5em;
    }
    nav{
        padding: 0;
    }
    nav li{
        display: block;
        margin: 0;
        border-bottom: 2px solid #330000;
    }
    nav a{
        display: block;
    }
    #indeximage{
        display: none;
        background-image: none;
        height: 0;
    }
    #yurtsimage{
        display: none;
        background-image: none;
        height: 0;
    }
    #activitiesimage{
        display: none;
        background-image: none;
        height: 0;
    }
    
}
label{
	float:left;
	text-align: left;
      display:block;
      width:120px;     
      padding-right:10px;

}

 input, textarea,select
 {     display:block;

}

input[type="submit"]
{margin-left:150px;

}